.cardSl {
  width: 250px;
  display: inline-block;
  border-radius: 8px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImage img {
  width: 250px;
  border-radius: 8px 8px 0px 0;
}

.cardHeading {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  color: #636262;
}

.cardText {
  padding: 10px 15px;
  font-size: 14px;
  color: #636262;
}

@media screen and (max-width: 985px) {
  .cardSl {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 575px) {
  .cardSl {
    width: 250px;
  }

  .cardImage {
    width: 300px;
    border-radius: 8px 8px 0px 0;
  }
}
